<h1><%=@figure.id%></h1>
<form action="/songs/<%=@figure.id%>" method="POST">
  <input type="hidden" name="_method" value="PATCH">

  <input type="text" name="figure[name]">

  <input type="submit" value="submit">

</form>
